.js-overlay, .overlay {
  position: absolute;
  z-index: 1000;
  margin-left: 0.9%;
  margin-top: 7.1%;
}
.b1, .b2 {
    display:block;
    width: 275px;
    height: 343px;
    font-size: 50px;
}

.slot {
    position: relative;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
}

.img1{
    height: 80px;
}
.imgStats{
    height: 90px;
    display: inline;
}
.inventory-overlay{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
}
.special-overlay{
    display: none;
}

.stats {
    margin-top: -120px;
    position: absolute;
    z-index: 1000;
    width: 1000px;
    height: 100px;
    display: block;
    background-color: lightgray;
}

.statsText, .stats {
    display: inline;
    font-size: 20px;
    
}
.statvis{
    
}
.backDiv{
    display:block;
 width: 100%;
 height: 100%;
 position:relative;
}
.backBtn{
     width: 100%;
 height: 100%;
    text-align: center;
    font-size: 5em;
    position:relative;
}

.labelText {
    text-align: center;
    font-size: 30px;
    color: white;
    font-style: bold;
    margin: 0px;
}
#Liquid {
    background-color: rgb(255, 0, 0, 0.5);
}
#Mixed {
    background-color: rgb(128, 0, 128, 0.5);
}
#Solids {
    background-color: rgb(0, 0, 255, 0.5);
}